MCWorking/MailingCycleProduction/BLLServiceLoader/Web References/Acca/AccaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mc.mkbedev.com/BLLService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mc.mkbedev.com/BLLService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mc.mkbedev.com/BLLService/">
      <s:element name="GetCreditCardDetailsForScheduledEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eventDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditCardDetailsForScheduledEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCreditCardDetailsForScheduledEventsResult" type="tns:ArrayOfAccaInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAccaInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccaInfo" nillable="true" type="tns:AccaInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccaInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PostalTariff" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PlanName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FarmName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EventDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="AccaOrderInfo" type="tns:OrderInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="AccaDesignCategory" type="tns:DesignCategory" />
              <s:element minOccurs="1" maxOccurs="1" name="ContactCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="EventStatus" type="tns:ScheduleEventStatus" />
              <s:element minOccurs="1" maxOccurs="1" name="EventId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="AccaCreditCardInfo" type="tns:CreditCardInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseInfo" abstract="true" />
      <s:complexType name="OrderItemInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ItemId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:OrderItemType" />
              <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Rate" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="OrderItemType">
        <s:restriction base="s:string">
          <s:enumeration value="Product" />
          <s:enumeration value="ProductPackage" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="StateInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StateId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CountryInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDefault" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AddressInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:CountryInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:StateInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LookupInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="LookupId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CreditCardInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:LookupInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CvvNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HolderName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ExpirationMonth" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ExpirationYear" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:AddressInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrderInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="RefundAmount" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="TransactionStatus" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Number" />
              <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:OrderType" />
              <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="TransactionCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TransactionMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreditCard" type="tns:CreditCardInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfOrderItemInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="OrderType">
        <s:restriction base="s:string">
          <s:enumeration value="MembershipFee" />
          <s:enumeration value="MailingFee" />
          <s:enumeration value="PrePrintedCards" />
          <s:enumeration value="ShoppingCart" />
          <s:enumeration value="Event" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfOrderItemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderItemInfo" nillable="true" type="tns:OrderItemInfo" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DesignCategory">
        <s:restriction base="s:string">
          <s:enumeration value="PowerKard" />
          <s:enumeration value="Brochure" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ScheduleEventStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Scheduled" />
          <s:enumeration value="InProgress" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Cancelled" />
          <s:enumeration value="ACCAInProgress" />
          <s:enumeration value="ACCAError" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UpdateEventInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eventsInfo" type="tns:ArrayOfAccaInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEventInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateEventInfoResult" type="tns:ArrayOfAccaInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfAccaInfo" nillable="true" type="tns:ArrayOfAccaInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCreditCardDetailsForScheduledEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditCardDetailsForScheduledEvents" />
  </wsdl:message>
  <wsdl:message name="GetCreditCardDetailsForScheduledEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditCardDetailsForScheduledEventsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEventInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEventInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateEventInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEventInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditCardDetailsForScheduledEventsHttpGetIn">
    <wsdl:part name="eventDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCreditCardDetailsForScheduledEventsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfAccaInfo" />
  </wsdl:message>
  <wsdl:message name="GetCreditCardDetailsForScheduledEventsHttpPostIn">
    <wsdl:part name="eventDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCreditCardDetailsForScheduledEventsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfAccaInfo" />
  </wsdl:message>
  <wsdl:portType name="AccaServiceSoap">
    <wsdl:operation name="GetCreditCardDetailsForScheduledEvents">
      <wsdl:input message="tns:GetCreditCardDetailsForScheduledEventsSoapIn" />
      <wsdl:output message="tns:GetCreditCardDetailsForScheduledEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEventInfo">
      <wsdl:input message="tns:UpdateEventInfoSoapIn" />
      <wsdl:output message="tns:UpdateEventInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AccaServiceHttpGet">
    <wsdl:operation name="GetCreditCardDetailsForScheduledEvents">
      <wsdl:input message="tns:GetCreditCardDetailsForScheduledEventsHttpGetIn" />
      <wsdl:output message="tns:GetCreditCardDetailsForScheduledEventsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AccaServiceHttpPost">
    <wsdl:operation name="GetCreditCardDetailsForScheduledEvents">
      <wsdl:input message="tns:GetCreditCardDetailsForScheduledEventsHttpPostIn" />
      <wsdl:output message="tns:GetCreditCardDetailsForScheduledEventsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccaServiceSoap" type="tns:AccaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCreditCardDetailsForScheduledEvents">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/GetCreditCardDetailsForScheduledEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventInfo">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/UpdateEventInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccaServiceSoap12" type="tns:AccaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCreditCardDetailsForScheduledEvents">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/GetCreditCardDetailsForScheduledEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventInfo">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/UpdateEventInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccaServiceHttpGet" type="tns:AccaServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCreditCardDetailsForScheduledEvents">
      <http:operation location="/GetCreditCardDetailsForScheduledEvents" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccaServiceHttpPost" type="tns:AccaServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCreditCardDetailsForScheduledEvents">
      <http:operation location="/GetCreditCardDetailsForScheduledEvents" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccaService">
    <wsdl:port name="AccaServiceSoap" binding="tns:AccaServiceSoap">
      <soap:address location="http://mc1.mkbedev.com/BLLService/AccaService.asmx" />
    </wsdl:port>
    <wsdl:port name="AccaServiceSoap12" binding="tns:AccaServiceSoap12">
      <soap12:address location="http://mc1.mkbedev.com/BLLService/AccaService.asmx" />
    </wsdl:port>
    <wsdl:port name="AccaServiceHttpGet" binding="tns:AccaServiceHttpGet">
      <http:address location="http://mc1.mkbedev.com/BLLService/AccaService.asmx" />
    </wsdl:port>
    <wsdl:port name="AccaServiceHttpPost" binding="tns:AccaServiceHttpPost">
      <http:address location="http://mc1.mkbedev.com/BLLService/AccaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>