MCWorking/MailingCycleProduction/BLLServiceLoader/Web References/ShoppingCart/ShoppingCartService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mc.mkbedev.com/BLLService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mc.mkbedev.com/BLLService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mc.mkbedev.com/BLLService/">
      <s:element name="GetCartItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCartItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCartItemsResult" type="tns:ShoppingCartInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ShoppingCartInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="GrandTotal" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="Discount" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="PromotionCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Tax" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ShippingAndHandling" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="SubTotal" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="CartItems" type="tns:ArrayOfShoppingCartItemInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseInfo" abstract="true" />
      <s:complexType name="ShoppingCartItemInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TotalPrice" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProductId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfShoppingCartItemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCartItemInfo" nillable="true" type="tns:ShoppingCartItemInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertCartItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartInfo" type="tns:ShoppingCartItemInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="ownerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCartItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertCartItemResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCartItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartInfo" type="tns:ArrayOfShoppingCartItemInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="ownerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCartItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateCartItemResult" type="tns:ShoppingCartInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCartItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="productId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ownerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCartItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteCartItemResult" type="tns:ShoppingCartInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPromotionDiscount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartInfo" type="tns:ShoppingCartInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPromotionDiscountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPromotionDiscountResult" type="tns:ShoppingCartInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateGrandTotal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cartInfo" type="tns:ShoppingCartInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateGrandTotalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculateGrandTotalResult" type="tns:ShoppingCartInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShoppingCartInfo" nillable="true" type="tns:ShoppingCartInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCartItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCartItems" />
  </wsdl:message>
  <wsdl:message name="GetCartItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCartItemsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCartItemSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCartItem" />
  </wsdl:message>
  <wsdl:message name="InsertCartItemSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCartItemResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCartItemSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCartItem" />
  </wsdl:message>
  <wsdl:message name="UpdateCartItemSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCartItemResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCartItemSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCartItem" />
  </wsdl:message>
  <wsdl:message name="DeleteCartItemSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCartItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetPromotionDiscountSoapIn">
    <wsdl:part name="parameters" element="tns:GetPromotionDiscount" />
  </wsdl:message>
  <wsdl:message name="GetPromotionDiscountSoapOut">
    <wsdl:part name="parameters" element="tns:GetPromotionDiscountResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateGrandTotalSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateGrandTotal" />
  </wsdl:message>
  <wsdl:message name="CalculateGrandTotalSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateGrandTotalResponse" />
  </wsdl:message>
  <wsdl:message name="GetCartItemsHttpGetIn">
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCartItemsHttpGetOut">
    <wsdl:part name="Body" element="tns:ShoppingCartInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteCartItemHttpGetIn">
    <wsdl:part name="userId" type="s:string" />
    <wsdl:part name="productId" type="s:string" />
    <wsdl:part name="ownerId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteCartItemHttpGetOut">
    <wsdl:part name="Body" element="tns:ShoppingCartInfo" />
  </wsdl:message>
  <wsdl:message name="GetCartItemsHttpPostIn">
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCartItemsHttpPostOut">
    <wsdl:part name="Body" element="tns:ShoppingCartInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteCartItemHttpPostIn">
    <wsdl:part name="userId" type="s:string" />
    <wsdl:part name="productId" type="s:string" />
    <wsdl:part name="ownerId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteCartItemHttpPostOut">
    <wsdl:part name="Body" element="tns:ShoppingCartInfo" />
  </wsdl:message>
  <wsdl:portType name="ShoppingCartServiceSoap">
    <wsdl:operation name="GetCartItems">
      <wsdl:input message="tns:GetCartItemsSoapIn" />
      <wsdl:output message="tns:GetCartItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCartItem">
      <wsdl:input message="tns:InsertCartItemSoapIn" />
      <wsdl:output message="tns:InsertCartItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCartItem">
      <wsdl:input message="tns:UpdateCartItemSoapIn" />
      <wsdl:output message="tns:UpdateCartItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCartItem">
      <wsdl:input message="tns:DeleteCartItemSoapIn" />
      <wsdl:output message="tns:DeleteCartItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPromotionDiscount">
      <wsdl:input message="tns:GetPromotionDiscountSoapIn" />
      <wsdl:output message="tns:GetPromotionDiscountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateGrandTotal">
      <wsdl:input message="tns:CalculateGrandTotalSoapIn" />
      <wsdl:output message="tns:CalculateGrandTotalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ShoppingCartServiceHttpGet">
    <wsdl:operation name="GetCartItems">
      <wsdl:input message="tns:GetCartItemsHttpGetIn" />
      <wsdl:output message="tns:GetCartItemsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCartItem">
      <wsdl:input message="tns:DeleteCartItemHttpGetIn" />
      <wsdl:output message="tns:DeleteCartItemHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ShoppingCartServiceHttpPost">
    <wsdl:operation name="GetCartItems">
      <wsdl:input message="tns:GetCartItemsHttpPostIn" />
      <wsdl:output message="tns:GetCartItemsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCartItem">
      <wsdl:input message="tns:DeleteCartItemHttpPostIn" />
      <wsdl:output message="tns:DeleteCartItemHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShoppingCartServiceSoap" type="tns:ShoppingCartServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCartItems">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/GetCartItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCartItem">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/InsertCartItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCartItem">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/UpdateCartItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCartItem">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/DeleteCartItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromotionDiscount">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/GetPromotionDiscount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateGrandTotal">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/CalculateGrandTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShoppingCartServiceSoap12" type="tns:ShoppingCartServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCartItems">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/GetCartItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCartItem">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/InsertCartItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCartItem">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/UpdateCartItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCartItem">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/DeleteCartItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromotionDiscount">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/GetPromotionDiscount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateGrandTotal">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/CalculateGrandTotal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShoppingCartServiceHttpGet" type="tns:ShoppingCartServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCartItems">
      <http:operation location="/GetCartItems" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCartItem">
      <http:operation location="/DeleteCartItem" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShoppingCartServiceHttpPost" type="tns:ShoppingCartServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCartItems">
      <http:operation location="/GetCartItems" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCartItem">
      <http:operation location="/DeleteCartItem" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShoppingCartService">
    <wsdl:port name="ShoppingCartServiceSoap" binding="tns:ShoppingCartServiceSoap">
      <soap:address location="http://mc1.mkbedev.com/BLLService/ShoppingCartService.asmx" />
    </wsdl:port>
    <wsdl:port name="ShoppingCartServiceSoap12" binding="tns:ShoppingCartServiceSoap12">
      <soap12:address location="http://mc1.mkbedev.com/BLLService/ShoppingCartService.asmx" />
    </wsdl:port>
    <wsdl:port name="ShoppingCartServiceHttpGet" binding="tns:ShoppingCartServiceHttpGet">
      <http:address location="http://mc1.mkbedev.com/BLLService/ShoppingCartService.asmx" />
    </wsdl:port>
    <wsdl:port name="ShoppingCartServiceHttpPost" binding="tns:ShoppingCartServiceHttpPost">
      <http:address location="http://mc1.mkbedev.com/BLLService/ShoppingCartService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>