MCWorking/MailingCycleProduction/BLLServiceLoader/Web References/Common/CommonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mc.mkbedev.com/BLLService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mc.mkbedev.com/BLLService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mc.mkbedev.com/BLLService/">
      <s:element name="GetCountries">
        <s:complexType />
      </s:element>
      <s:element name="GetCountriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountriesResult" type="tns:ArrayOfCountryInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCountryInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CountryInfo" nillable="true" type="tns:CountryInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CountryInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDefault" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseInfo" abstract="true" />
      <s:element name="GetStates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="countryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatesResult" type="tns:ArrayOfStateInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StateInfo" nillable="true" type="tns:StateInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StateInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StateId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetLookups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLookupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLookupsResult" type="tns:ArrayOfLookupInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLookupInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LookupInfo" nillable="true" type="tns:LookupInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LookupInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="LookupId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetLookupDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lookupId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLookupDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLookupDetailsResult" type="tns:LookupInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProperty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPropertyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPropertyResult" type="tns:PropertyInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PropertyInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetAgentsList">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfRegistrationInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RegistrationInfo" nillable="true" type="tns:RegistrationInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegistrationInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PasswordQuestion" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PasswordAnswer" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:AddressInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="CreditCard" type="tns:CreditCardInfo" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:RegistrationStatus" />
              <s:element minOccurs="1" maxOccurs="1" name="SignupDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Role" type="tns:UserRole" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AddressInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:CountryInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:StateInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CreditCardInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:LookupInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CvvNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HolderName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ExpirationMonth" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ExpirationYear" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:AddressInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="RegistrationStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Inactive" />
          <s:enumeration value="Active" />
          <s:enumeration value="ApprovalRequired" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="UserRole">
        <s:restriction base="s:string">
          <s:enumeration value="Agent" />
          <s:enumeration value="Printer" />
          <s:enumeration value="CSR" />
          <s:enumeration value="Admin" />
          <s:enumeration value="NullValue" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetAgentsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAgentsListResult" type="tns:ArrayOfRegistrationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="roles" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersByRoleResult" type="tns:ArrayOfRegistrationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProperty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPropertyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertPropertyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfCountryInfo" nillable="true" type="tns:ArrayOfCountryInfo" />
      <s:element name="ArrayOfStateInfo" nillable="true" type="tns:ArrayOfStateInfo" />
      <s:element name="ArrayOfLookupInfo" nillable="true" type="tns:ArrayOfLookupInfo" />
      <s:element name="LookupInfo" nillable="true" type="tns:LookupInfo" />
      <s:element name="PropertyInfo" nillable="true" type="tns:PropertyInfo" />
      <s:element name="ArrayOfRegistrationInfo" nillable="true" type="tns:ArrayOfRegistrationInfo" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCountriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetStates" />
  </wsdl:message>
  <wsdl:message name="GetStatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetLookupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLookups" />
  </wsdl:message>
  <wsdl:message name="GetLookupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLookupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetLookupDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLookupDetails" />
  </wsdl:message>
  <wsdl:message name="GetLookupDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLookupDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPropertySoapIn">
    <wsdl:part name="parameters" element="tns:GetProperty" />
  </wsdl:message>
  <wsdl:message name="GetPropertySoapOut">
    <wsdl:part name="parameters" element="tns:GetPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="GetAgentsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAgentsList" />
  </wsdl:message>
  <wsdl:message name="GetAgentsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAgentsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersByRoleSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersByRole" />
  </wsdl:message>
  <wsdl:message name="GetUsersByRoleSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersByRoleResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPropertySoapIn">
    <wsdl:part name="parameters" element="tns:InsertProperty" />
  </wsdl:message>
  <wsdl:message name="InsertPropertySoapOut">
    <wsdl:part name="parameters" element="tns:InsertPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountriesHttpGetIn" />
  <wsdl:message name="GetCountriesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCountryInfo" />
  </wsdl:message>
  <wsdl:message name="GetStatesHttpGetIn">
    <wsdl:part name="countryId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStatesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfStateInfo" />
  </wsdl:message>
  <wsdl:message name="GetLookupsHttpGetIn">
    <wsdl:part name="category" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLookupsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLookupInfo" />
  </wsdl:message>
  <wsdl:message name="GetLookupDetailsHttpGetIn">
    <wsdl:part name="lookupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLookupDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:LookupInfo" />
  </wsdl:message>
  <wsdl:message name="GetPropertyHttpGetIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPropertyHttpGetOut">
    <wsdl:part name="Body" element="tns:PropertyInfo" />
  </wsdl:message>
  <wsdl:message name="GetAgentsListHttpGetIn" />
  <wsdl:message name="GetAgentsListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfRegistrationInfo" />
  </wsdl:message>
  <wsdl:message name="GetUsersByRoleHttpGetIn">
    <wsdl:part name="roles" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUsersByRoleHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfRegistrationInfo" />
  </wsdl:message>
  <wsdl:message name="InsertPropertyHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertPropertyHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetCountriesHttpPostIn" />
  <wsdl:message name="GetCountriesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCountryInfo" />
  </wsdl:message>
  <wsdl:message name="GetStatesHttpPostIn">
    <wsdl:part name="countryId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStatesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfStateInfo" />
  </wsdl:message>
  <wsdl:message name="GetLookupsHttpPostIn">
    <wsdl:part name="category" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLookupsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLookupInfo" />
  </wsdl:message>
  <wsdl:message name="GetLookupDetailsHttpPostIn">
    <wsdl:part name="lookupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLookupDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:LookupInfo" />
  </wsdl:message>
  <wsdl:message name="GetPropertyHttpPostIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPropertyHttpPostOut">
    <wsdl:part name="Body" element="tns:PropertyInfo" />
  </wsdl:message>
  <wsdl:message name="GetAgentsListHttpPostIn" />
  <wsdl:message name="GetAgentsListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfRegistrationInfo" />
  </wsdl:message>
  <wsdl:message name="GetUsersByRoleHttpPostIn">
    <wsdl:part name="roles" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUsersByRoleHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfRegistrationInfo" />
  </wsdl:message>
  <wsdl:message name="InsertPropertyHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertPropertyHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="CommonServiceSoap">
    <wsdl:operation name="GetCountries">
      <wsdl:input message="tns:GetCountriesSoapIn" />
      <wsdl:output message="tns:GetCountriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <wsdl:input message="tns:GetStatesSoapIn" />
      <wsdl:output message="tns:GetStatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLookups">
      <wsdl:input message="tns:GetLookupsSoapIn" />
      <wsdl:output message="tns:GetLookupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLookupDetails">
      <wsdl:input message="tns:GetLookupDetailsSoapIn" />
      <wsdl:output message="tns:GetLookupDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <wsdl:input message="tns:GetPropertySoapIn" />
      <wsdl:output message="tns:GetPropertySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAgentsList">
      <wsdl:input message="tns:GetAgentsListSoapIn" />
      <wsdl:output message="tns:GetAgentsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByRole">
      <wsdl:input message="tns:GetUsersByRoleSoapIn" />
      <wsdl:output message="tns:GetUsersByRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertProperty">
      <wsdl:input message="tns:InsertPropertySoapIn" />
      <wsdl:output message="tns:InsertPropertySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CommonServiceHttpGet">
    <wsdl:operation name="GetCountries">
      <wsdl:input message="tns:GetCountriesHttpGetIn" />
      <wsdl:output message="tns:GetCountriesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <wsdl:input message="tns:GetStatesHttpGetIn" />
      <wsdl:output message="tns:GetStatesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLookups">
      <wsdl:input message="tns:GetLookupsHttpGetIn" />
      <wsdl:output message="tns:GetLookupsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLookupDetails">
      <wsdl:input message="tns:GetLookupDetailsHttpGetIn" />
      <wsdl:output message="tns:GetLookupDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <wsdl:input message="tns:GetPropertyHttpGetIn" />
      <wsdl:output message="tns:GetPropertyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAgentsList">
      <wsdl:input message="tns:GetAgentsListHttpGetIn" />
      <wsdl:output message="tns:GetAgentsListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByRole">
      <wsdl:input message="tns:GetUsersByRoleHttpGetIn" />
      <wsdl:output message="tns:GetUsersByRoleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertProperty">
      <wsdl:input message="tns:InsertPropertyHttpGetIn" />
      <wsdl:output message="tns:InsertPropertyHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CommonServiceHttpPost">
    <wsdl:operation name="GetCountries">
      <wsdl:input message="tns:GetCountriesHttpPostIn" />
      <wsdl:output message="tns:GetCountriesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <wsdl:input message="tns:GetStatesHttpPostIn" />
      <wsdl:output message="tns:GetStatesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLookups">
      <wsdl:input message="tns:GetLookupsHttpPostIn" />
      <wsdl:output message="tns:GetLookupsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLookupDetails">
      <wsdl:input message="tns:GetLookupDetailsHttpPostIn" />
      <wsdl:output message="tns:GetLookupDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <wsdl:input message="tns:GetPropertyHttpPostIn" />
      <wsdl:output message="tns:GetPropertyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAgentsList">
      <wsdl:input message="tns:GetAgentsListHttpPostIn" />
      <wsdl:output message="tns:GetAgentsListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByRole">
      <wsdl:input message="tns:GetUsersByRoleHttpPostIn" />
      <wsdl:output message="tns:GetUsersByRoleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertProperty">
      <wsdl:input message="tns:InsertPropertyHttpPostIn" />
      <wsdl:output message="tns:InsertPropertyHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonServiceSoap" type="tns:CommonServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/GetStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookups">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/GetLookups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookupDetails">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/GetLookupDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/GetProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgentsList">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/GetAgentsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByRole">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/GetUsersByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProperty">
      <soap:operation soapAction="http://mc.mkbedev.com/BLLService/InsertProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonServiceSoap12" type="tns:CommonServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountries">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/GetCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/GetStates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookups">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/GetLookups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookupDetails">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/GetLookupDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/GetProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgentsList">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/GetAgentsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByRole">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/GetUsersByRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProperty">
      <soap12:operation soapAction="http://mc.mkbedev.com/BLLService/InsertProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonServiceHttpGet" type="tns:CommonServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCountries">
      <http:operation location="/GetCountries" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <http:operation location="/GetStates" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookups">
      <http:operation location="/GetLookups" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookupDetails">
      <http:operation location="/GetLookupDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <http:operation location="/GetProperty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgentsList">
      <http:operation location="/GetAgentsList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByRole">
      <http:operation location="/GetUsersByRole" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProperty">
      <http:operation location="/InsertProperty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonServiceHttpPost" type="tns:CommonServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCountries">
      <http:operation location="/GetCountries" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <http:operation location="/GetStates" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookups">
      <http:operation location="/GetLookups" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookupDetails">
      <http:operation location="/GetLookupDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <http:operation location="/GetProperty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgentsList">
      <http:operation location="/GetAgentsList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByRole">
      <http:operation location="/GetUsersByRole" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProperty">
      <http:operation location="/InsertProperty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonService">
    <wsdl:port name="CommonServiceSoap" binding="tns:CommonServiceSoap">
      <soap:address location="http://mc1.mkbedev.com/BLLService/CommonService.asmx" />
    </wsdl:port>
    <wsdl:port name="CommonServiceSoap12" binding="tns:CommonServiceSoap12">
      <soap12:address location="http://mc1.mkbedev.com/BLLService/CommonService.asmx" />
    </wsdl:port>
    <wsdl:port name="CommonServiceHttpGet" binding="tns:CommonServiceHttpGet">
      <http:address location="http://mc1.mkbedev.com/BLLService/CommonService.asmx" />
    </wsdl:port>
    <wsdl:port name="CommonServiceHttpPost" binding="tns:CommonServiceHttpPost">
      <http:address location="http://mc1.mkbedev.com/BLLService/CommonService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>