BLLServiceLoader/Web References/Order/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost:3555/BLLService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost:3555/BLLService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost:3555/BLLService/">
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="order" type="tns:OrderInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="ownerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="RefundAmount" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="TransactionStatus" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Number" />
              <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:OrderType" />
              <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="TransactionCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TransactionMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreditCard" type="tns:CreditCardInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfOrderItemInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseInfo" abstract="true" />
      <s:complexType name="OrderItemInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ItemId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:OrderItemType" />
              <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Rate" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="OrderItemType">
        <s:restriction base="s:string">
          <s:enumeration value="Product" />
          <s:enumeration value="ProductPackage" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="StateInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StateId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CountryInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDefault" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AddressInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:CountryInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:StateInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LookupInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="LookupId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CreditCardInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:LookupInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CvvNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HolderName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ExpirationMonth" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ExpirationYear" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:AddressInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="OrderType">
        <s:restriction base="s:string">
          <s:enumeration value="MembershipFee" />
          <s:enumeration value="MailingFee" />
          <s:enumeration value="PrePrintedCards" />
          <s:enumeration value="ShoppingCart" />
          <s:enumeration value="Event" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfOrderItemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderItemInfo" nillable="true" type="tns:OrderItemInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCreditCardResult" type="tns:CreditCardInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderInfo" nillable="true" type="tns:OrderInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListResult" type="tns:ArrayOfOrderInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemsResult" type="tns:ArrayOfOrderItemInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventoryList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInventoryItemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventoryItemInfo" nillable="true" type="tns:InventoryItemInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventoryItemInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderTransactionType" type="tns:TransactionType" />
              <s:element minOccurs="1" maxOccurs="1" name="TransactionId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TransactionType">
        <s:restriction base="s:string">
          <s:enumeration value="Purchased" />
          <s:enumeration value="Used" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfInventoryInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventoryInfo" nillable="true" type="tns:InventoryInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventoryInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="InventoryItems" type="tns:ArrayOfInventoryItemInfo" />
              <s:element minOccurs="1" maxOccurs="1" name="QuantityOnHand" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CategoryType" type="tns:ProductCategory" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="ProductCategory">
        <s:restriction base="s:string">
          <s:enumeration value="PowerKard" />
          <s:enumeration value="Brochure" />
          <s:enumeration value="Envelope" />
          <s:enumeration value="House_Fliers" />
          <s:enumeration value="Generic_Product" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetInventoryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventoryListResult" type="tns:ArrayOfInventoryInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cardType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSearchOrdersResult" type="tns:ArrayOfOrderInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInventoryItemReportInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventoryItemReportInfo" nillable="true" type="tns:InventoryItemReportInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventoryItemReportInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="SumQuantityBR" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SumQuantityPK" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SumQuantityEN" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="QuantityEN" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="QuantityBR" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="QuantityPK" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderTransactionType" type="tns:TransactionType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetSearchInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSearchInventoryResult" type="tns:ArrayOfInventoryItemReportInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditCardSoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditCard" />
  </wsdl:message>
  <wsdl:message name="GetCreditCardSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditCardResponse" />
  </wsdl:message>
  <wsdl:message name="GetListSoapIn">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="GetListSoapOut">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="GetItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventoryListSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventoryList" />
  </wsdl:message>
  <wsdl:message name="GetInventoryListSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventoryListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSearchOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetSearchOrders" />
  </wsdl:message>
  <wsdl:message name="GetSearchOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetSearchOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetSearchInventorySoapIn">
    <wsdl:part name="parameters" element="tns:GetSearchInventory" />
  </wsdl:message>
  <wsdl:message name="GetSearchInventorySoapOut">
    <wsdl:part name="parameters" element="tns:GetSearchInventoryResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderServiceSoap">
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditCard">
      <wsdl:input message="tns:GetCreditCardSoapIn" />
      <wsdl:output message="tns:GetCreditCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input message="tns:GetListSoapIn" />
      <wsdl:output message="tns:GetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input message="tns:GetItemsSoapIn" />
      <wsdl:output message="tns:GetItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventoryList">
      <wsdl:input message="tns:GetInventoryListSoapIn" />
      <wsdl:output message="tns:GetInventoryListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchOrders">
      <wsdl:input message="tns:GetSearchOrdersSoapIn" />
      <wsdl:output message="tns:GetSearchOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchInventory">
      <wsdl:input message="tns:GetSearchInventorySoapIn" />
      <wsdl:output message="tns:GetSearchInventorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderServiceSoap" type="tns:OrderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://localhost:3555/BLLService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditCard">
      <soap:operation soapAction="http://localhost:3555/BLLService/GetCreditCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://localhost:3555/BLLService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://localhost:3555/BLLService/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryList">
      <soap:operation soapAction="http://localhost:3555/BLLService/GetInventoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchOrders">
      <soap:operation soapAction="http://localhost:3555/BLLService/GetSearchOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchInventory">
      <soap:operation soapAction="http://localhost:3555/BLLService/GetSearchInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderServiceSoap12" type="tns:OrderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://localhost:3555/BLLService/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditCard">
      <soap12:operation soapAction="http://localhost:3555/BLLService/GetCreditCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap12:operation soapAction="http://localhost:3555/BLLService/GetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap12:operation soapAction="http://localhost:3555/BLLService/GetItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryList">
      <soap12:operation soapAction="http://localhost:3555/BLLService/GetInventoryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchOrders">
      <soap12:operation soapAction="http://localhost:3555/BLLService/GetSearchOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchInventory">
      <soap12:operation soapAction="http://localhost:3555/BLLService/GetSearchInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="OrderServiceSoap" binding="tns:OrderServiceSoap">
      <soap:address location="http://localhost:1073/OrderService.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderServiceSoap12" binding="tns:OrderServiceSoap12">
      <soap12:address location="http://localhost:1073/OrderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>